body {
  background: linear-gradient(90deg, #bbff00 0%, #00ff73);
}

.bloc-header{
  background: -webkit-linear-gradient(0deg, #bbff00 0%, #00ff73);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bloc-body.active{
  border-image: linear-gradient(90deg, #bbff00 0%, #00ff73) 100;
}
