body {
  background: linear-gradient(90deg, #ff00ea 0%, #ff0040);
}

.bloc-header{
  background: -webkit-linear-gradient(0deg, #ff00ea 0%, #ff0040);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bloc-body.active{
  border-image: linear-gradient(90deg, #ff00ea 0%, #ff0040) 100;
}


.conteneur-titre{
  width: min(95vw, 1200px);
}