body {
  background: linear-gradient(90deg, #ff004c 0%, #ff5e00);
}

.bloc-header{
  background: -webkit-linear-gradient(0deg, #ff004c 0%, #ff5e00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bloc-body.active{
  border-image: linear-gradient(90deg, #ff004c 0%, #ff5e00) 100;
}
