body {
  background: linear-gradient(90deg, #ff3300 0%, #ff9900);
}

.bloc-header{
  background: -webkit-linear-gradient(0deg, #ff3300 0%, #ff9900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bloc-body.active{
  border-image: linear-gradient(90deg, #ff3300 0%, #ff9900) 100;
}
